.SearchContact{
    height: 7%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #e3e1dd;

    .inputbox{
        width: 90%;
        height: 70%;
        background-color:#f0f2f5;
        display: flex;
        border-radius: 8px;
        .icon{
            width: 15%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(101, 100, 100);
            
        }
        .search{
            width: 85%;
            outline: none;
            border: none;
            background-color: transparent;
            // font-family:;
        }
    }
}