.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e1dd;


  .header{
    height: 20%;
    width: 100%;
    background-color: #00a783;
    position: absolute;
    z-index: 1;
    top: 0px;

  }
  .footer{
    height: 80%;
    width: 100%;
    background-color: #e3e1dd;
  }
}

